In [16]:
####加载包
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split

In [29]:
###导入数据
data1 = pd.read_csv("data.csv",index_col=0,encoding="gbk")
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4754 entries, 5 to 11992
Data columns (total 89 columns):
custid                                        4754 non-null int64
trade_no                                      4754 non-null object
bank_card_no                                  4754 non-null object
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
student_feature                               1756 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4752 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4650 non-null float64
reg_preference_for_trad                       4752 non-null object
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null int64
source                                        4754 non-null object
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
id_name                                       4478 non-null object
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_query_time                             4450 non-null object
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_latest_time                             4457 non-null object
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
dtypes: float64(70), int64(12), object(7)
memory usage: 3.1+ MB

In [30]:
print(data1.head(5))

     custid                          trade_no bank_card_no  \
5   2791858  20180507115231274000000023057383          卡号1
10   534047  20180507121002192000000023073000          卡号1
12  2849787  20180507125159718000000023114911          卡号1
13  1809708  20180507121358683000000388283484          卡号1
14  2499829  20180507115448545000000388205844          卡号1

    low_volume_percent  middle_volume_percent  \
5                 0.01                   0.99
10                0.02                   0.94
12                0.04                   0.96
13                0.00                   0.96
14                0.01                   0.99

    take_amount_in_later_12_month_highest  trans_amount_increase_rate_lately  \
5                                       0                               0.90
10                                   2000                               1.28
12                                      0                               1.00
13                                   2000                               0.13
14                                      0                               0.46

    trans_activity_month  trans_activity_day  transd_mcc        ...         \
5                   0.55               0.313        17.0        ...
10                  1.00               0.458        19.0        ...
12                  1.00               0.114        13.0        ...
13                  0.57               0.777        22.0        ...
14                  1.00               0.175        13.0        ...

    loans_max_limit  loans_avg_limit  consfin_credit_limit  \
5            2900.0           1688.0                1200.0
10           3500.0           1758.0               15100.0
12           1600.0           1250.0                4200.0
13           3200.0           1541.0               16300.0
14           2300.0           1630.0                8300.0

    consfin_credibility  consfin_org_count_current  consfin_product_count  \
5                  75.0                        1.0                    2.0
10                 80.0                        5.0                    6.0
12                 87.0                        1.0                    1.0
13                 80.0                        5.0                    5.0
14                 79.0                        2.0                    2.0

    consfin_max_limit  consfin_avg_limit  latest_query_day  loans_latest_day
5              1200.0             1200.0              12.0              18.0
10            22800.0             9360.0               4.0               2.0
12             4200.0             4200.0               2.0               6.0
13            30000.0            12180.0               2.0               4.0
14             8400.0             8250.0              22.0             120.0

[5 rows x 89 columns]

In [31]:
#统计每列的缺失值个数
data1.isnull().sum().sort_values(ascending=False)

student_feature                               2998
cross_consume_count_last_1_month               426
query_org_count                                304
query_cash_count                               304
latest_six_month_apply                         304
latest_three_month_apply                       304
latest_query_time                              304
query_sum_count                                304
latest_one_month_apply                         304
query_finance_count                            304
apply_credibility                              304
apply_score                                    304
latest_query_day                               304
latest_one_month_loan                          297
loans_score                                    297
loans_credibility_behavior                     297
loans_count                                    297
loans_settle_count                             297
loans_overdue_count                            297
loans_org_count_behavior                       297
consfin_org_count_behavior                     297
loans_cash_count                               297
loans_latest_day                               297
latest_three_month_loan                        297
loans_product_count                            297
latest_six_month_loan                          297
consfin_product_count                          297
consfin_org_count_current                      297
consfin_max_limit                              297
consfin_avg_limit                              297
                                              ...
rank_trad_1_month                                2
trans_days_interval                              2
trans_day_last_12_month                          2
transd_mcc                                       2
number_of_trans_from_2011                        2
first_transaction_time                           2
trans_activity_day                               2
historical_trans_day                             2
trans_activity_month                             2
low_volume_percent                               2
avg_consume_less_12_valid_month                  2
top_trans_count_last_1_month                     2
first_transaction_day                            2
reg_preference_for_trad                          2
regional_mobility                                2
take_amount_in_later_12_month_highest            0
trade_no                                         0
bank_card_no                                     0
source                                           0
repayment_capability                             0
is_high_user                                     0
historical_trans_amount                          0
trans_amount_3_month                             0
abs                                              0
avg_price_last_12_month                          0
max_cumulative_consume_later_1_month             0
pawns_auctions_trusts_consume_last_1_month       0
pawns_auctions_trusts_consume_last_6_month       0
status                                           0
custid                                           0
Length: 89, dtype: int64

In [33]:
 #选择出为object类型的数据
obj_vars = []
def find_object(df):
    print(' object类型的变量 ')
    for col in df.columns:
        if df[col].dtype == 'object':
#             print(col)
            obj_vars.append(col)
    return obj_vars

In [34]:
find_object(data1)

 object类型的变量

['trade_no',
 'bank_card_no',
 'reg_preference_for_trad',
 'source',
 'id_name',
 'latest_query_time',
 'loans_latest_time']

In [35]:
##分别计算每个特征缺失值情况，唯一值数量，唯一率等信息
def desc(df):
    loss_num=[] #缺失值的数量
    valid_num=[] #非缺失值的数量
    unique_num=[] #唯一的数量
    unique_percent=[] #唯一率
    for i,j in enumerate (df.columns): # enumerator 函数可以同时获得索引和值。 i表示索引，j表示值
        loss_num.append(df[df[j].isnull()].shape[0]) #isnull() 表示的是空 返回的是True（空）
        valid_num.append(df[df[j].notnull()].shape[0])
        unique_num.append(len(df[j].unique()))
        unique_percent.append(len(df[df[j].notnull()][j].unique())/df[df[j].notnull()].shape[0])
    data_desc = pd.DataFrame({"loss_num":loss_num,"valid_num":valid_num,"unique_num":unique_num,"unique_percent":unique_percent},index=df.columns)
    return data_desc
data_count = desc(data1)
data_count

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loss_num</th>
      <th>unique_num</th>
      <th>unique_percent</th>
      <th>valid_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>custid</th>
      <td>0</td>
      <td>4754</td>
      <td>1.000000</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trade_no</th>
      <td>0</td>
      <td>4754</td>
      <td>1.000000</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>bank_card_no</th>
      <td>0</td>
      <td>1</td>
      <td>0.000210</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>low_volume_percent</th>
      <td>2</td>
      <td>41</td>
      <td>0.008418</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>middle_volume_percent</th>
      <td>2</td>
      <td>91</td>
      <td>0.018939</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>take_amount_in_later_12_month_highest</th>
      <td>0</td>
      <td>166</td>
      <td>0.034918</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_amount_increase_rate_lately</th>
      <td>3</td>
      <td>783</td>
      <td>0.164597</td>
      <td>4751</td>
    </tr>
    <tr>
      <th>trans_activity_month</th>
      <td>2</td>
      <td>85</td>
      <td>0.017677</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_activity_day</th>
      <td>2</td>
      <td>513</td>
      <td>0.107744</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>transd_mcc</th>
      <td>2</td>
      <td>42</td>
      <td>0.008628</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_days_interval_filter</th>
      <td>8</td>
      <td>148</td>
      <td>0.030973</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>trans_days_interval</th>
      <td>2</td>
      <td>115</td>
      <td>0.023990</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>regional_mobility</th>
      <td>2</td>
      <td>6</td>
      <td>0.001052</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>student_feature</th>
      <td>2998</td>
      <td>3</td>
      <td>0.001139</td>
      <td>1756</td>
    </tr>
    <tr>
      <th>repayment_capability</th>
      <td>0</td>
      <td>2390</td>
      <td>0.502735</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>is_high_user</th>
      <td>0</td>
      <td>2</td>
      <td>0.000421</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>number_of_trans_from_2011</th>
      <td>2</td>
      <td>71</td>
      <td>0.014731</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>first_transaction_time</th>
      <td>2</td>
      <td>1694</td>
      <td>0.356271</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>historical_trans_amount</th>
      <td>0</td>
      <td>4524</td>
      <td>0.951620</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>historical_trans_day</th>
      <td>2</td>
      <td>477</td>
      <td>0.100168</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>rank_trad_1_month</th>
      <td>2</td>
      <td>21</td>
      <td>0.004209</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_amount_3_month</th>
      <td>0</td>
      <td>3524</td>
      <td>0.741271</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_consume_less_12_valid_month</th>
      <td>2</td>
      <td>13</td>
      <td>0.002525</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>abs</th>
      <td>0</td>
      <td>1697</td>
      <td>0.356963</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>top_trans_count_last_1_month</th>
      <td>2</td>
      <td>9</td>
      <td>0.001684</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>avg_price_last_12_month</th>
      <td>0</td>
      <td>330</td>
      <td>0.069415</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_price_top_last_12_valid_month</th>
      <td>104</td>
      <td>21</td>
      <td>0.004301</td>
      <td>4650</td>
    </tr>
    <tr>
      <th>reg_preference_for_trad</th>
      <td>2</td>
      <td>6</td>
      <td>0.001052</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_top_time_last_1_month</th>
      <td>8</td>
      <td>29</td>
      <td>0.005900</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>trans_top_time_last_6_month</th>
      <td>8</td>
      <td>98</td>
      <td>0.020438</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>loans_credibility_behavior</th>
      <td>297</td>
      <td>26</td>
      <td>0.005609</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_count</th>
      <td>297</td>
      <td>135</td>
      <td>0.030065</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_settle_count</th>
      <td>297</td>
      <td>124</td>
      <td>0.027597</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_overdue_count</th>
      <td>297</td>
      <td>27</td>
      <td>0.005834</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_org_count_behavior</th>
      <td>297</td>
      <td>42</td>
      <td>0.009199</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_org_count_behavior</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_cash_count</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_loan</th>
      <td>297</td>
      <td>15</td>
      <td>0.003141</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_three_month_loan</th>
      <td>297</td>
      <td>32</td>
      <td>0.006955</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_six_month_loan</th>
      <td>297</td>
      <td>68</td>
      <td>0.015033</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>history_suc_fee</th>
      <td>297</td>
      <td>172</td>
      <td>0.038367</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>history_fail_fee</th>
      <td>297</td>
      <td>152</td>
      <td>0.033879</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_suc</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_fail</th>
      <td>297</td>
      <td>42</td>
      <td>0.009199</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_long_time</th>
      <td>297</td>
      <td>203</td>
      <td>0.045322</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_latest_time</th>
      <td>297</td>
      <td>233</td>
      <td>0.052053</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credit_limit</th>
      <td>297</td>
      <td>55</td>
      <td>0.012116</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credibility_limit</th>
      <td>297</td>
      <td>34</td>
      <td>0.007404</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_org_count_current</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_product_count</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_max_limit</th>
      <td>297</td>
      <td>92</td>
      <td>0.020417</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_avg_limit</th>
      <td>297</td>
      <td>962</td>
      <td>0.215616</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_credit_limit</th>
      <td>297</td>
      <td>328</td>
      <td>0.073368</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_credibility</th>
      <td>297</td>
      <td>25</td>
      <td>0.005385</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_org_count_current</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_product_count</th>
      <td>297</td>
      <td>21</td>
      <td>0.004487</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_max_limit</th>
      <td>297</td>
      <td>176</td>
      <td>0.039264</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_avg_limit</th>
      <td>297</td>
      <td>1678</td>
      <td>0.376262</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_query_day</th>
      <td>304</td>
      <td>211</td>
      <td>0.047191</td>
      <td>4450</td>
    </tr>
    <tr>
      <th>loans_latest_day</th>
      <td>297</td>
      <td>236</td>
      <td>0.052726</td>
      <td>4457</td>
    </tr>
  </tbody>
</table>
<p>89 rows × 4 columns</p>
</div>

In [45]:
data1[data1['trans_activity_month'].notnull()]

In [46]:
data1.dtypes.value_counts()

float64    70
int64      12
object      7
dtype: int64

In [47]:
#选择列
num_features = data1.select_dtypes(include = ["float64","int64"]).copy()
obj_features = data1.select_dtypes(include=['object']).copy()
obj_features_desc = desc(obj_features)
obj_features_desc

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loss_num</th>
      <th>unique_num</th>
      <th>unique_percent</th>
      <th>valid_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>trade_no</th>
      <td>0</td>
      <td>4754</td>
      <td>1.000000</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>bank_card_no</th>
      <td>0</td>
      <td>1</td>
      <td>0.000210</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>reg_preference_for_trad</th>
      <td>2</td>
      <td>6</td>
      <td>0.001052</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>source</th>
      <td>0</td>
      <td>1</td>
      <td>0.000210</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>id_name</th>
      <td>276</td>
      <td>4310</td>
      <td>0.962260</td>
      <td>4478</td>
    </tr>
    <tr>
      <th>latest_query_time</th>
      <td>304</td>
      <td>208</td>
      <td>0.046517</td>
      <td>4450</td>
    </tr>
    <tr>
      <th>loans_latest_time</th>
      <td>297</td>
      <td>233</td>
      <td>0.052053</td>
      <td>4457</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
num_features

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>custid</th>
      <th>low_volume_percent</th>
      <th>middle_volume_percent</th>
      <th>take_amount_in_later_12_month_highest</th>
      <th>trans_amount_increase_rate_lately</th>
      <th>trans_activity_month</th>
      <th>trans_activity_day</th>
      <th>transd_mcc</th>
      <th>trans_days_interval_filter</th>
      <th>trans_days_interval</th>
      <th>...</th>
      <th>loans_max_limit</th>
      <th>loans_avg_limit</th>
      <th>consfin_credit_limit</th>
      <th>consfin_credibility</th>
      <th>consfin_org_count_current</th>
      <th>consfin_product_count</th>
      <th>consfin_max_limit</th>
      <th>consfin_avg_limit</th>
      <th>latest_query_day</th>
      <th>loans_latest_day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>2791858</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>0</td>
      <td>0.90</td>
      <td>0.55</td>
      <td>0.313</td>
      <td>17.0</td>
      <td>27.0</td>
      <td>26.0</td>
      <td>...</td>
      <td>2900.0</td>
      <td>1688.0</td>
      <td>1200.0</td>
      <td>75.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>1200.0</td>
      <td>1200.0</td>
      <td>12.0</td>
      <td>18.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>534047</td>
      <td>0.02</td>
      <td>0.94</td>
      <td>2000</td>
      <td>1.28</td>
      <td>1.00</td>
      <td>0.458</td>
      <td>19.0</td>
      <td>30.0</td>
      <td>14.0</td>
      <td>...</td>
      <td>3500.0</td>
      <td>1758.0</td>
      <td>15100.0</td>
      <td>80.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>22800.0</td>
      <td>9360.0</td>
      <td>4.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2849787</td>
      <td>0.04</td>
      <td>0.96</td>
      <td>0</td>
      <td>1.00</td>
      <td>1.00</td>
      <td>0.114</td>
      <td>13.0</td>
      <td>68.0</td>
      <td>22.0</td>
      <td>...</td>
      <td>1600.0</td>
      <td>1250.0</td>
      <td>4200.0</td>
      <td>87.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>4200.0</td>
      <td>4200.0</td>
      <td>2.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1809708</td>
      <td>0.00</td>
      <td>0.96</td>
      <td>2000</td>
      <td>0.13</td>
      <td>0.57</td>
      <td>0.777</td>
      <td>22.0</td>
      <td>14.0</td>
      <td>6.0</td>
      <td>...</td>
      <td>3200.0</td>
      <td>1541.0</td>
      <td>16300.0</td>
      <td>80.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>30000.0</td>
      <td>12180.0</td>
      <td>2.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2499829</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>0</td>
      <td>0.46</td>
      <td>1.00</td>
      <td>0.175</td>
      <td>13.0</td>
      <td>66.0</td>
      <td>42.0</td>
      <td>...</td>
      <td>2300.0</td>
      <td>1630.0</td>
      <td>8300.0</td>
      <td>79.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>8400.0</td>
      <td>8250.0</td>
      <td>22.0</td>
      <td>120.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>518072</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>2000</td>
      <td>7.59</td>
      <td>1.00</td>
      <td>0.733</td>
      <td>27.0</td>
      <td>8.0</td>
      <td>11.0</td>
      <td>...</td>
      <td>5300.0</td>
      <td>1941.0</td>
      <td>11200.0</td>
      <td>80.0</td>
      <td>10.0</td>
      <td>12.0</td>
      <td>20400.0</td>
      <td>8130.0</td>
      <td>3.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1205125</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>0</td>
      <td>23.67</td>
      <td>0.94</td>
      <td>0.087</td>
      <td>10.0</td>
      <td>54.0</td>
      <td>53.0</td>
      <td>...</td>
      <td>2200.0</td>
      <td>2200.0</td>
      <td>7600.0</td>
      <td>73.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>16800.0</td>
      <td>8900.0</td>
      <td>1.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1129897</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>0</td>
      <td>0.25</td>
      <td>0.88</td>
      <td>0.302</td>
      <td>19.0</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2599411</td>
      <td>0.03</td>
      <td>0.65</td>
      <td>0</td>
      <td>0.31</td>
      <td>0.76</td>
      <td>0.472</td>
      <td>15.0</td>
      <td>21.0</td>
      <td>14.0</td>
      <td>...</td>
      <td>5300.0</td>
      <td>4750.0</td>
      <td>5500.0</td>
      <td>79.0</td>
      <td>8.0</td>
      <td>11.0</td>
      <td>19200.0</td>
      <td>7987.0</td>
      <td>24.0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1413051</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>500</td>
      <td>0.80</td>
      <td>1.00</td>
      <td>0.088</td>
      <td>15.0</td>
      <td>36.0</td>
      <td>35.0</td>
      <td>...</td>
      <td>2800.0</td>
      <td>1520.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>18.0</td>
      <td>142.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>321061</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>0</td>
      <td>2.48</td>
      <td>0.94</td>
      <td>0.322</td>
      <td>16.0</td>
      <td>29.0</td>
      <td>21.0</td>
      <td>...</td>
      <td>1800.0</td>
      <td>1325.0</td>
      <td>9900.0</td>
      <td>80.0</td>
      <td>7.0</td>
      <td>8.0</td>
      <td>20400.0</td>
      <td>7757.0</td>
      <td>12.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>750939</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>500</td>
      <td>0.72</td>
      <td>0.63</td>
      <td>0.450</td>
      <td>17.0</td>
      <td>15.0</td>
      <td>11.0</td>
      <td>...</td>
      <td>3900.0</td>
      <td>2450.0</td>
      <td>8300.0</td>
      <td>85.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>13200.0</td>
      <td>9400.0</td>
      <td>31.0</td>
      <td>35.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>1169544</td>
      <td>0.00</td>
      <td>0.73</td>
      <td>5000</td>
      <td>0.09</td>
      <td>0.70</td>
      <td>0.697</td>
      <td>28.0</td>
      <td>12.0</td>
      <td>13.0</td>
      <td>...</td>
      <td>3500.0</td>
      <td>2000.0</td>
      <td>19300.0</td>
      <td>79.0</td>
      <td>7.0</td>
      <td>8.0</td>
      <td>42000.0</td>
      <td>16985.0</td>
      <td>38.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>193188</td>
      <td>0.01</td>
      <td>0.79</td>
      <td>0</td>
      <td>1.24</td>
      <td>1.00</td>
      <td>0.447</td>
      <td>16.0</td>
      <td>19.0</td>
      <td>13.0</td>
      <td>...</td>
      <td>9300.0</td>
      <td>2240.0</td>
      <td>5000.0</td>
      <td>83.0</td>
      <td>5.0</td>
      <td>7.0</td>
      <td>11400.0</td>
      <td>5460.0</td>
      <td>13.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>1780401</td>
      <td>0.01</td>
      <td>0.89</td>
      <td>4000</td>
      <td>0.07</td>
      <td>1.00</td>
      <td>0.233</td>
      <td>17.0</td>
      <td>32.0</td>
      <td>18.0</td>
      <td>...</td>
      <td>2000.0</td>
      <td>1600.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>16.0</td>
      <td>193.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>999803</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>0</td>
      <td>1.13</td>
      <td>0.76</td>
      <td>0.480</td>
      <td>20.0</td>
      <td>16.0</td>
      <td>17.0</td>
      <td>...</td>
      <td>4100.0</td>
      <td>2633.0</td>
      <td>18400.0</td>
      <td>79.0</td>
      <td>9.0</td>
      <td>11.0</td>
      <td>33600.0</td>
      <td>17633.0</td>
      <td>4.0</td>
      <td>27.0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>203427</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>0</td>
      <td>0.21</td>
      <td>1.00</td>
      <td>0.247</td>
      <td>13.0</td>
      <td>50.0</td>
      <td>15.0</td>
      <td>...</td>
      <td>4500.0</td>
      <td>2480.0</td>
      <td>21300.0</td>
      <td>77.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>27600.0</td>
      <td>9900.0</td>
      <td>3.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>829745</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>300</td>
      <td>0.60</td>
      <td>0.43</td>
      <td>0.355</td>
      <td>19.0</td>
      <td>19.0</td>
      <td>14.0</td>
      <td>...</td>
      <td>2000.0</td>
      <td>1575.0</td>
      <td>4700.0</td>
      <td>80.0</td>
      <td>8.0</td>
      <td>10.0</td>
      <td>6600.0</td>
      <td>4062.0</td>
      <td>9.0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>818730</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>2000</td>
      <td>0.87</td>
      <td>1.00</td>
      <td>0.377</td>
      <td>15.0</td>
      <td>62.0</td>
      <td>17.0</td>
      <td>...</td>
      <td>5000.0</td>
      <td>2533.0</td>
      <td>10100.0</td>
      <td>78.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>15600.0</td>
      <td>10275.0</td>
      <td>26.0</td>
      <td>77.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2318583</td>
      <td>0.01</td>
      <td>0.96</td>
      <td>0</td>
      <td>1.37</td>
      <td>0.51</td>
      <td>0.486</td>
      <td>18.0</td>
      <td>21.0</td>
      <td>15.0</td>
      <td>...</td>
      <td>6200.0</td>
      <td>1957.0</td>
      <td>10100.0</td>
      <td>79.0</td>
      <td>8.0</td>
      <td>9.0</td>
      <td>20400.0</td>
      <td>8187.0</td>
      <td>12.0</td>
      <td>37.0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2770676</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>300</td>
      <td>0.11</td>
      <td>1.00</td>
      <td>0.229</td>
      <td>11.0</td>
      <td>20.0</td>
      <td>18.0</td>
      <td>...</td>
      <td>500.0</td>
      <td>500.0</td>
      <td>8400.0</td>
      <td>74.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>8400.0</td>
      <td>8400.0</td>
      <td>3.0</td>
      <td>71.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2763960</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>0</td>
      <td>0.43</td>
      <td>0.66</td>
      <td>0.369</td>
      <td>15.0</td>
      <td>72.0</td>
      <td>41.0</td>
      <td>...</td>
      <td>2400.0</td>
      <td>1633.0</td>
      <td>16500.0</td>
      <td>76.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>32400.0</td>
      <td>18600.0</td>
      <td>7.0</td>
      <td>23.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>1272880</td>
      <td>0.00</td>
      <td>0.59</td>
      <td>0</td>
      <td>3.48</td>
      <td>0.92</td>
      <td>0.255</td>
      <td>19.0</td>
      <td>229.0</td>
      <td>19.0</td>
      <td>...</td>
      <td>9000.0</td>
      <td>3080.0</td>
      <td>21900.0</td>
      <td>79.0</td>
      <td>11.0</td>
      <td>11.0</td>
      <td>39600.0</td>
      <td>20454.0</td>
      <td>4.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>800080</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>2400</td>
      <td>1.71</td>
      <td>0.57</td>
      <td>0.388</td>
      <td>18.0</td>
      <td>16.0</td>
      <td>13.0</td>
      <td>...</td>
      <td>3500.0</td>
      <td>1900.0</td>
      <td>8100.0</td>
      <td>80.0</td>
      <td>6.0</td>
      <td>7.0</td>
      <td>14400.0</td>
      <td>6100.0</td>
      <td>12.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>654993</td>
      <td>0.02</td>
      <td>0.78</td>
      <td>2500</td>
      <td>1.90</td>
      <td>0.83</td>
      <td>0.336</td>
      <td>23.0</td>
      <td>20.0</td>
      <td>15.0</td>
      <td>...</td>
      <td>1000.0</td>
      <td>750.0</td>
      <td>14000.0</td>
      <td>75.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>31200.0</td>
      <td>15500.0</td>
      <td>14.0</td>
      <td>104.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>140303</td>
      <td>0.40</td>
      <td>0.60</td>
      <td>0</td>
      <td>1.46</td>
      <td>0.69</td>
      <td>0.375</td>
      <td>9.0</td>
      <td>23.0</td>
      <td>23.0</td>
      <td>...</td>
      <td>5000.0</td>
      <td>1560.0</td>
      <td>10400.0</td>
      <td>78.0</td>
      <td>12.0</td>
      <td>14.0</td>
      <td>42600.0</td>
      <td>9841.0</td>
      <td>21.0</td>
      <td>82.0</td>
    </tr>
    <tr>
      <th>64</th>
      <td>148742</td>
      <td>0.02</td>
      <td>0.96</td>
      <td>0</td>
      <td>12.35</td>
      <td>0.96</td>
      <td>0.444</td>
      <td>20.0</td>
      <td>13.0</td>
      <td>12.0</td>
      <td>...</td>
      <td>2500.0</td>
      <td>1671.0</td>
      <td>6500.0</td>
      <td>77.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>8100.0</td>
      <td>7050.0</td>
      <td>10.0</td>
      <td>80.0</td>
    </tr>
    <tr>
      <th>71</th>
      <td>713652</td>
      <td>0.01</td>
      <td>0.91</td>
      <td>2000</td>
      <td>46.90</td>
      <td>0.69</td>
      <td>0.263</td>
      <td>19.0</td>
      <td>42.0</td>
      <td>42.0</td>
      <td>...</td>
      <td>5700.0</td>
      <td>3160.0</td>
      <td>7000.0</td>
      <td>78.0</td>
      <td>13.0</td>
      <td>15.0</td>
      <td>13200.0</td>
      <td>6461.0</td>
      <td>20.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>3051745</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>3000</td>
      <td>0.91</td>
      <td>0.93</td>
      <td>0.305</td>
      <td>21.0</td>
      <td>17.0</td>
      <td>14.0</td>
      <td>...</td>
      <td>2700.0</td>
      <td>1825.0</td>
      <td>21600.0</td>
      <td>78.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>21600.0</td>
      <td>21600.0</td>
      <td>5.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>88</th>
      <td>1870891</td>
      <td>0.02</td>
      <td>0.64</td>
      <td>1500</td>
      <td>1.02</td>
      <td>0.44</td>
      <td>0.211</td>
      <td>15.0</td>
      <td>38.0</td>
      <td>25.0</td>
      <td>...</td>
      <td>2000.0</td>
      <td>2000.0</td>
      <td>3000.0</td>
      <td>79.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>3000.0</td>
      <td>3000.0</td>
      <td>NaN</td>
      <td>34.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>11923</th>
      <td>3401661</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>1000</td>
      <td>1.37</td>
      <td>0.89</td>
      <td>0.287</td>
      <td>20.0</td>
      <td>31.0</td>
      <td>22.0</td>
      <td>...</td>
      <td>3800.0</td>
      <td>2271.0</td>
      <td>5000.0</td>
      <td>79.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>9000.0</td>
      <td>3460.0</td>
      <td>21.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>11924</th>
      <td>3089430</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>0</td>
      <td>0.28</td>
      <td>0.57</td>
      <td>0.137</td>
      <td>13.0</td>
      <td>34.0</td>
      <td>28.0</td>
      <td>...</td>
      <td>2100.0</td>
      <td>1166.0</td>
      <td>17200.0</td>
      <td>78.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>21600.0</td>
      <td>11850.0</td>
      <td>142.0</td>
      <td>100.0</td>
    </tr>
    <tr>
      <th>11926</th>
      <td>2123865</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>900</td>
      <td>1.60</td>
      <td>0.90</td>
      <td>0.250</td>
      <td>12.0</td>
      <td>38.0</td>
      <td>35.0</td>
      <td>...</td>
      <td>3000.0</td>
      <td>1960.0</td>
      <td>4800.0</td>
      <td>75.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>4800.0</td>
      <td>4800.0</td>
      <td>19.0</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>11927</th>
      <td>295148</td>
      <td>0.02</td>
      <td>0.98</td>
      <td>0</td>
      <td>1.33</td>
      <td>0.82</td>
      <td>0.341</td>
      <td>17.0</td>
      <td>14.0</td>
      <td>14.0</td>
      <td>...</td>
      <td>3100.0</td>
      <td>1812.0</td>
      <td>4800.0</td>
      <td>76.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>12000.0</td>
      <td>5125.0</td>
      <td>28.0</td>
      <td>57.0</td>
    </tr>
    <tr>
      <th>11930</th>
      <td>2944213</td>
      <td>0.06</td>
      <td>0.94</td>
      <td>1500</td>
      <td>4.70</td>
      <td>1.00</td>
      <td>0.444</td>
      <td>16.0</td>
      <td>23.0</td>
      <td>22.0</td>
      <td>...</td>
      <td>2500.0</td>
      <td>1662.0</td>
      <td>10800.0</td>
      <td>80.0</td>
      <td>6.0</td>
      <td>6.0</td>
      <td>20400.0</td>
      <td>8933.0</td>
      <td>18.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>11932</th>
      <td>1757011</td>
      <td>0.17</td>
      <td>0.83</td>
      <td>0</td>
      <td>0.88</td>
      <td>1.00</td>
      <td>0.316</td>
      <td>16.0</td>
      <td>42.0</td>
      <td>27.0</td>
      <td>...</td>
      <td>2500.0</td>
      <td>1518.0</td>
      <td>6200.0</td>
      <td>80.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>16800.0</td>
      <td>7200.0</td>
      <td>3.0</td>
      <td>104.0</td>
    </tr>
    <tr>
      <th>11933</th>
      <td>3380919</td>
      <td>0.01</td>
      <td>0.99</td>
      <td>2000</td>
      <td>0.54</td>
      <td>0.44</td>
      <td>0.215</td>
      <td>17.0</td>
      <td>28.0</td>
      <td>32.0</td>
      <td>...</td>
      <td>3100.0</td>
      <td>1771.0</td>
      <td>15600.0</td>
      <td>78.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>15600.0</td>
      <td>15600.0</td>
      <td>28.0</td>
      <td>128.0</td>
    </tr>
    <tr>
      <th>11936</th>
      <td>1517438</td>
      <td>0.00</td>
      <td>0.58</td>
      <td>2000</td>
      <td>2.63</td>
      <td>0.73</td>
      <td>0.525</td>
      <td>19.0</td>
      <td>30.0</td>
      <td>12.0</td>
      <td>...</td>
      <td>3100.0</td>
      <td>1818.0</td>
      <td>60200.0</td>
      <td>78.0</td>
      <td>13.0</td>
      <td>15.0</td>
      <td>124200.0</td>
      <td>25361.0</td>
      <td>2.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>11938</th>
      <td>3382649</td>
      <td>0.11</td>
      <td>0.89</td>
      <td>4000</td>
      <td>49.37</td>
      <td>1.00</td>
      <td>0.115</td>
      <td>12.0</td>
      <td>31.0</td>
      <td>30.0</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>4300.0</td>
      <td>80.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>7200.0</td>
      <td>4950.0</td>
      <td>9.0</td>
      <td>250.0</td>
    </tr>
    <tr>
      <th>11940</th>
      <td>2867902</td>
      <td>0.03</td>
      <td>0.97</td>
      <td>1000</td>
      <td>2.98</td>
      <td>0.88</td>
      <td>0.255</td>
      <td>14.0</td>
      <td>38.0</td>
      <td>18.0</td>
      <td>...</td>

In [51]:
data1.drop(columns=['latest_query_time','loans_latest_time','trade_no','id_name','bank_card_no','source'],axis=1,inplace=True)

In [55]:
data1['reg_preference_for_trad'].replace({'一线城市':1,'二线城市':2,'三线城市':3,'境外':4,'其他城市':5},inplace = True)

In [56]:
#处理num_feature
num_features_desc = desc(num_features)
num_features_desc

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loss_num</th>
      <th>unique_num</th>
      <th>unique_percent</th>
      <th>valid_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>custid</th>
      <td>0</td>
      <td>4754</td>
      <td>1.000000</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>low_volume_percent</th>
      <td>2</td>
      <td>41</td>
      <td>0.008418</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>middle_volume_percent</th>
      <td>2</td>
      <td>91</td>
      <td>0.018939</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>take_amount_in_later_12_month_highest</th>
      <td>0</td>
      <td>166</td>
      <td>0.034918</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_amount_increase_rate_lately</th>
      <td>3</td>
      <td>783</td>
      <td>0.164597</td>
      <td>4751</td>
    </tr>
    <tr>
      <th>trans_activity_month</th>
      <td>2</td>
      <td>85</td>
      <td>0.017677</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_activity_day</th>
      <td>2</td>
      <td>513</td>
      <td>0.107744</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>transd_mcc</th>
      <td>2</td>
      <td>42</td>
      <td>0.008628</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_days_interval_filter</th>
      <td>8</td>
      <td>148</td>
      <td>0.030973</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>trans_days_interval</th>
      <td>2</td>
      <td>115</td>
      <td>0.023990</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>regional_mobility</th>
      <td>2</td>
      <td>6</td>
      <td>0.001052</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>student_feature</th>
      <td>2998</td>
      <td>3</td>
      <td>0.001139</td>
      <td>1756</td>
    </tr>
    <tr>
      <th>repayment_capability</th>
      <td>0</td>
      <td>2390</td>
      <td>0.502735</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>is_high_user</th>
      <td>0</td>
      <td>2</td>
      <td>0.000421</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>number_of_trans_from_2011</th>
      <td>2</td>
      <td>71</td>
      <td>0.014731</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>first_transaction_time</th>
      <td>2</td>
      <td>1694</td>
      <td>0.356271</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>historical_trans_amount</th>
      <td>0</td>
      <td>4524</td>
      <td>0.951620</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>historical_trans_day</th>
      <td>2</td>
      <td>477</td>
      <td>0.100168</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>rank_trad_1_month</th>
      <td>2</td>
      <td>21</td>
      <td>0.004209</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_amount_3_month</th>
      <td>0</td>
      <td>3524</td>
      <td>0.741271</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_consume_less_12_valid_month</th>
      <td>2</td>
      <td>13</td>
      <td>0.002525</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>abs</th>
      <td>0</td>
      <td>1697</td>
      <td>0.356963</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>top_trans_count_last_1_month</th>
      <td>2</td>
      <td>9</td>
      <td>0.001684</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>avg_price_last_12_month</th>
      <td>0</td>
      <td>330</td>
      <td>0.069415</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_price_top_last_12_valid_month</th>
      <td>104</td>
      <td>21</td>
      <td>0.004301</td>
      <td>4650</td>
    </tr>
    <tr>
      <th>trans_top_time_last_1_month</th>
      <td>8</td>
      <td>29</td>
      <td>0.005900</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>trans_top_time_last_6_month</th>
      <td>8</td>
      <td>98</td>
      <td>0.020438</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>consume_top_time_last_1_month</th>
      <td>8</td>
      <td>29</td>
      <td>0.005900</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>consume_top_time_last_6_month</th>
      <td>8</td>
      <td>95</td>
      <td>0.019806</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>cross_consume_count_last_1_month</th>
      <td>426</td>
      <td>20</td>
      <td>0.004390</td>
      <td>4328</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>loans_score</th>
      <td>297</td>
      <td>248</td>
      <td>0.055418</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credibility_behavior</th>
      <td>297</td>
      <td>26</td>
      <td>0.005609</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_count</th>
      <td>297</td>
      <td>135</td>
      <td>0.030065</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_settle_count</th>
      <td>297</td>
      <td>124</td>
      <td>0.027597</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_overdue_count</th>
      <td>297</td>
      <td>27</td>
      <td>0.005834</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_org_count_behavior</th>
      <td>297</td>
      <td>42</td>
      <td>0.009199</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_org_count_behavior</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_cash_count</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_loan</th>
      <td>297</td>
      <td>15</td>
      <td>0.003141</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_three_month_loan</th>
      <td>297</td>
      <td>32</td>
      <td>0.006955</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_six_month_loan</th>
      <td>297</td>
      <td>68</td>
      <td>0.015033</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>history_suc_fee</th>
      <td>297</td>
      <td>172</td>
      <td>0.038367</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>history_fail_fee</th>
      <td>297</td>
      <td>152</td>
      <td>0.033879</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_suc</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_fail</th>
      <td>297</td>
      <td>42</td>
      <td>0.009199</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_long_time</th>
      <td>297</td>
      <td>203</td>
      <td>0.045322</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credit_limit</th>
      <td>297</td>
      <td>55</td>
      <td>0.012116</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credibility_limit</th>
      <td>297</td>
      <td>34</td>
      <td>0.007404</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_org_count_current</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_product_count</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_max_limit</th>
      <td>297</td>
      <td>92</td>
      <td>0.020417</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_avg_limit</th>
      <td>297</td>
      <td>962</td>
      <td>0.215616</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_credit_limit</th>
      <td>297</td>
      <td>328</td>
      <td>0.073368</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_credibility</th>
      <td>297</td>
      <td>25</td>
      <td>0.005385</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_org_count_current</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_product_count</th>
      <td>297</td>
      <td>21</td>
      <td>0.004487</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_max_limit</th>
      <td>297</td>
      <td>176</td>
      <td>0.039264</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_avg_limit</th>
      <td>297</td>
      <td>1678</td>
      <td>0.376262</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_query_day</th>
      <td>304</td>
      <td>211</td>
      <td>0.047191</td>
      <td>4450</td>
    </tr>
    <tr>
      <th>loans_latest_day</th>
      <td>297</td>
      <td>236</td>
      <td>0.052726</td>
      <td>4457</td>
    </tr>
  </tbody>
</table>
<p>82 rows × 4 columns</p>
</div>

In [59]:
num_features.drop(columns=['custid','student_feature'],axis=1,inplace=True)

In [60]:
num_features_desc_new = desc(num_features)
num_features_desc_new

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loss_num</th>
      <th>unique_num</th>
      <th>unique_percent</th>
      <th>valid_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>low_volume_percent</th>
      <td>2</td>
      <td>41</td>
      <td>0.008418</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>middle_volume_percent</th>
      <td>2</td>
      <td>91</td>
      <td>0.018939</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>take_amount_in_later_12_month_highest</th>
      <td>0</td>
      <td>166</td>
      <td>0.034918</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_amount_increase_rate_lately</th>
      <td>3</td>
      <td>783</td>
      <td>0.164597</td>
      <td>4751</td>
    </tr>
    <tr>
      <th>trans_activity_month</th>
      <td>2</td>
      <td>85</td>
      <td>0.017677</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_activity_day</th>
      <td>2</td>
      <td>513</td>
      <td>0.107744</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>transd_mcc</th>
      <td>2</td>
      <td>42</td>
      <td>0.008628</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_days_interval_filter</th>
      <td>8</td>
      <td>148</td>
      <td>0.030973</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>trans_days_interval</th>
      <td>2</td>
      <td>115</td>
      <td>0.023990</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>regional_mobility</th>
      <td>2</td>
      <td>6</td>
      <td>0.001052</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>repayment_capability</th>
      <td>0</td>
      <td>2390</td>
      <td>0.502735</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>is_high_user</th>
      <td>0</td>
      <td>2</td>
      <td>0.000421</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>number_of_trans_from_2011</th>
      <td>2</td>
      <td>71</td>
      <td>0.014731</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>first_transaction_time</th>
      <td>2</td>
      <td>1694</td>
      <td>0.356271</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>historical_trans_amount</th>
      <td>0</td>
      <td>4524</td>
      <td>0.951620</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>historical_trans_day</th>
      <td>2</td>
      <td>477</td>
      <td>0.100168</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>rank_trad_1_month</th>
      <td>2</td>
      <td>21</td>
      <td>0.004209</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>trans_amount_3_month</th>
      <td>0</td>
      <td>3524</td>
      <td>0.741271</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_consume_less_12_valid_month</th>
      <td>2</td>
      <td>13</td>
      <td>0.002525</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>abs</th>
      <td>0</td>
      <td>1697</td>
      <td>0.356963</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>top_trans_count_last_1_month</th>
      <td>2</td>
      <td>9</td>
      <td>0.001684</td>
      <td>4752</td>
    </tr>
    <tr>
      <th>avg_price_last_12_month</th>
      <td>0</td>
      <td>330</td>
      <td>0.069415</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_price_top_last_12_valid_month</th>
      <td>104</td>
      <td>21</td>
      <td>0.004301</td>
      <td>4650</td>
    </tr>
    <tr>
      <th>trans_top_time_last_1_month</th>
      <td>8</td>
      <td>29</td>
      <td>0.005900</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>trans_top_time_last_6_month</th>
      <td>8</td>
      <td>98</td>
      <td>0.020438</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>consume_top_time_last_1_month</th>
      <td>8</td>
      <td>29</td>
      <td>0.005900</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>consume_top_time_last_6_month</th>
      <td>8</td>
      <td>95</td>
      <td>0.019806</td>
      <td>4746</td>
    </tr>
    <tr>
      <th>cross_consume_count_last_1_month</th>
      <td>426</td>
      <td>20</td>
      <td>0.004390</td>
      <td>4328</td>
    </tr>
    <tr>
      <th>trans_fail_top_count_enum_last_1_month</th>
      <td>16</td>
      <td>16</td>
      <td>0.003166</td>
      <td>4738</td>
    </tr>
    <tr>
      <th>trans_fail_top_count_enum_last_6_month</th>
      <td>16</td>
      <td>26</td>
      <td>0.005276</td>
      <td>4738</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>loans_score</th>
      <td>297</td>
      <td>248</td>
      <td>0.055418</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credibility_behavior</th>
      <td>297</td>
      <td>26</td>
      <td>0.005609</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_count</th>
      <td>297</td>
      <td>135</td>
      <td>0.030065</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_settle_count</th>
      <td>297</td>
      <td>124</td>
      <td>0.027597</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_overdue_count</th>
      <td>297</td>
      <td>27</td>
      <td>0.005834</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_org_count_behavior</th>
      <td>297</td>
      <td>42</td>
      <td>0.009199</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_org_count_behavior</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_cash_count</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_loan</th>
      <td>297</td>
      <td>15</td>
      <td>0.003141</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_three_month_loan</th>
      <td>297</td>
      <td>32</td>
      <td>0.006955</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_six_month_loan</th>
      <td>297</td>
      <td>68</td>
      <td>0.015033</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>history_suc_fee</th>
      <td>297</td>
      <td>172</td>
      <td>0.038367</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>history_fail_fee</th>
      <td>297</td>
      <td>152</td>
      <td>0.033879</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_suc</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_one_month_fail</th>
      <td>297</td>
      <td>42</td>
      <td>0.009199</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_long_time</th>
      <td>297</td>
      <td>203</td>
      <td>0.045322</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credit_limit</th>
      <td>297</td>
      <td>55</td>
      <td>0.012116</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_credibility_limit</th>
      <td>297</td>
      <td>34</td>
      <td>0.007404</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_org_count_current</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_product_count</th>
      <td>297</td>
      <td>33</td>
      <td>0.007180</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_max_limit</th>
      <td>297</td>
      <td>92</td>
      <td>0.020417</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>loans_avg_limit</th>
      <td>297</td>
      <td>962</td>
      <td>0.215616</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_credit_limit</th>
      <td>297</td>
      <td>328</td>
      <td>0.073368</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_credibility</th>
      <td>297</td>
      <td>25</td>
      <td>0.005385</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_org_count_current</th>
      <td>297</td>
      <td>20</td>
      <td>0.004263</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_product_count</th>
      <td>297</td>
      <td>21</td>
      <td>0.004487</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_max_limit</th>
      <td>297</td>
      <td>176</td>
      <td>0.039264</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>consfin_avg_limit</th>
      <td>297</td>
      <td>1678</td>
      <td>0.376262</td>
      <td>4457</td>
    </tr>
    <tr>
      <th>latest_query_day</th>
      <td>304</td>
      <td>211</td>
      <td>0.047191</td>
      <td>4450</td>
    </tr>
    <tr>
      <th>loans_latest_day</th>
      <td>297</td>
      <td>236</td>
      <td>0.052726</td>
      <td>4457</td>
    </tr>
  </tbody>
</table>
<p>80 rows × 4 columns</p>
</div>

In [61]:
#分训练集和测试集
df_1,Y = data1.drop(columns=['status'],axis=1),data1['status']

In [62]:
#利用均值填充缺失值
imputer = Imputer(strategy='median')
df_2 = imputer.fit_transform(df_1)
df_2 = pd.DataFrame(df_2,columns=df_1.columns)

In [64]:
df_2_desc=desc(df_2)
df_2_desc

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loss_num</th>
      <th>unique_num</th>
      <th>unique_percent</th>
      <th>valid_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>custid</th>
      <td>0</td>
      <td>4754</td>
      <td>1.000000</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>low_volume_percent</th>
      <td>0</td>
      <td>40</td>
      <td>0.008414</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>middle_volume_percent</th>
      <td>0</td>
      <td>90</td>
      <td>0.018931</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>take_amount_in_later_12_month_highest</th>
      <td>0</td>
      <td>166</td>
      <td>0.034918</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_amount_increase_rate_lately</th>
      <td>0</td>
      <td>782</td>
      <td>0.164493</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_activity_month</th>
      <td>0</td>
      <td>84</td>
      <td>0.017669</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_activity_day</th>
      <td>0</td>
      <td>512</td>
      <td>0.107699</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>transd_mcc</th>
      <td>0</td>
      <td>41</td>
      <td>0.008624</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_days_interval_filter</th>
      <td>0</td>
      <td>147</td>
      <td>0.030921</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_days_interval</th>
      <td>0</td>
      <td>114</td>
      <td>0.023980</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>regional_mobility</th>
      <td>0</td>
      <td>5</td>
      <td>0.001052</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>student_feature</th>
      <td>0</td>
      <td>2</td>
      <td>0.000421</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>repayment_capability</th>
      <td>0</td>
      <td>2390</td>
      <td>0.502735</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>is_high_user</th>
      <td>0</td>
      <td>2</td>
      <td>0.000421</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>number_of_trans_from_2011</th>
      <td>0</td>
      <td>70</td>
      <td>0.014724</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>first_transaction_time</th>
      <td>0</td>
      <td>1693</td>
      <td>0.356121</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>historical_trans_amount</th>
      <td>0</td>
      <td>4524</td>
      <td>0.951620</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>historical_trans_day</th>
      <td>0</td>
      <td>476</td>
      <td>0.100126</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>rank_trad_1_month</th>
      <td>0</td>
      <td>20</td>
      <td>0.004207</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_amount_3_month</th>
      <td>0</td>
      <td>3524</td>
      <td>0.741271</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_consume_less_12_valid_month</th>
      <td>0</td>
      <td>12</td>
      <td>0.002524</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>abs</th>
      <td>0</td>
      <td>1697</td>
      <td>0.356963</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>top_trans_count_last_1_month</th>
      <td>0</td>
      <td>8</td>
      <td>0.001683</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_price_last_12_month</th>
      <td>0</td>
      <td>330</td>
      <td>0.069415</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>avg_price_top_last_12_valid_month</th>
      <td>0</td>
      <td>20</td>
      <td>0.004207</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>reg_preference_for_trad</th>
      <td>0</td>
      <td>5</td>
      <td>0.001052</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_top_time_last_1_month</th>
      <td>0</td>
      <td>28</td>
      <td>0.005890</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>trans_top_time_last_6_month</th>
      <td>0</td>
      <td>97</td>
      <td>0.020404</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consume_top_time_last_1_month</th>
      <td>0</td>
      <td>28</td>
      <td>0.005890</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consume_top_time_last_6_month</th>
      <td>0</td>
      <td>94</td>
      <td>0.019773</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>loans_score</th>
      <td>0</td>
      <td>247</td>
      <td>0.051956</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_credibility_behavior</th>
      <td>0</td>
      <td>25</td>
      <td>0.005259</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_count</th>
      <td>0</td>
      <td>134</td>
      <td>0.028187</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_settle_count</th>
      <td>0</td>
      <td>123</td>
      <td>0.025873</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_overdue_count</th>
      <td>0</td>
      <td>26</td>
      <td>0.005469</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_org_count_behavior</th>
      <td>0</td>
      <td>41</td>
      <td>0.008624</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_org_count_behavior</th>
      <td>0</td>
      <td>19</td>
      <td>0.003997</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_cash_count</th>
      <td>0</td>
      <td>32</td>
      <td>0.006731</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>latest_one_month_loan</th>
      <td>0</td>
      <td>14</td>
      <td>0.002945</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>latest_three_month_loan</th>
      <td>0</td>
      <td>31</td>
      <td>0.006521</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>latest_six_month_loan</th>
      <td>0</td>
      <td>67</td>
      <td>0.014093</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>history_suc_fee</th>
      <td>0</td>
      <td>171</td>
      <td>0.035970</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>history_fail_fee</th>
      <td>0</td>
      <td>151</td>
      <td>0.031763</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>latest_one_month_suc</th>
      <td>0</td>
      <td>19</td>
      <td>0.003997</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>latest_one_month_fail</th>
      <td>0</td>
      <td>41</td>
      <td>0.008624</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_long_time</th>
      <td>0</td>
      <td>202</td>
      <td>0.042491</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_credit_limit</th>
      <td>0</td>
      <td>54</td>
      <td>0.011359</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_credibility_limit</th>
      <td>0</td>
      <td>33</td>
      <td>0.006942</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_org_count_current</th>
      <td>0</td>
      <td>32</td>
      <td>0.006731</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_product_count</th>
      <td>0</td>
      <td>32</td>
      <td>0.006731</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_max_limit</th>
      <td>0</td>
      <td>91</td>
      <td>0.019142</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_avg_limit</th>
      <td>0</td>
      <td>961</td>
      <td>0.202146</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_credit_limit</th>
      <td>0</td>
      <td>327</td>
      <td>0.068784</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_credibility</th>
      <td>0</td>
      <td>24</td>
      <td>0.005048</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_org_count_current</th>
      <td>0</td>
      <td>19</td>
      <td>0.003997</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_product_count</th>
      <td>0</td>
      <td>20</td>
      <td>0.004207</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_max_limit</th>
      <td>0</td>
      <td>175</td>
      <td>0.036811</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>consfin_avg_limit</th>
      <td>0</td>
      <td>1677</td>
      <td>0.352756</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>latest_query_day</th>
      <td>0</td>
      <td>210</td>
      <td>0.044173</td>
      <td>4754</td>
    </tr>
    <tr>
      <th>loans_latest_day</th>
      <td>0</td>
      <td>235</td>
      <td>0.049432</td>
      <td>4754</td>
    </tr>
  </tbody>
</table>
<p>82 rows × 4 columns</p>
</div>

In [67]:
#数据标准化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_3 = scaler.fit_transform(df_2) #生成结果是array类型，需要转化为df类型
df_3 = pd.DataFrame(df_3,columns=df_2.columns)
df_3.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>custid</th>
      <th>low_volume_percent</th>
      <th>middle_volume_percent</th>
      <th>take_amount_in_later_12_month_highest</th>
      <th>trans_amount_increase_rate_lately</th>
      <th>trans_activity_month</th>
      <th>trans_activity_day</th>
      <th>transd_mcc</th>
      <th>trans_days_interval_filter</th>
      <th>trans_days_interval</th>
      <th>...</th>
      <th>loans_max_limit</th>
      <th>loans_avg_limit</th>
      <th>consfin_credit_limit</th>
      <th>consfin_credibility</th>
      <th>consfin_org_count_current</th>
      <th>consfin_product_count</th>
      <th>consfin_max_limit</th>
      <th>consfin_avg_limit</th>
      <th>latest_query_day</th>
      <th>loans_latest_day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.064536</td>
      <td>-0.284251</td>
      <td>0.612374</td>
      <td>-0.494499</td>
      <td>-0.019099</td>
      <td>-1.292452</td>
      <td>-0.308087</td>
      <td>-0.112363</td>
      <td>-0.088968</td>
      <td>0.258090</td>
      <td>...</td>
      <td>-0.330249</td>
      <td>-0.233181</td>
      <td>-1.104758</td>
      <td>-0.087098</td>
      <td>-1.277708</td>
      <td>-0.973381</td>
      <td>-1.068511</td>
      <td>-1.226123</td>
      <td>-0.313460</td>
      <td>-0.692110</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-1.118767</td>
      <td>-0.043372</td>
      <td>0.267106</td>
      <td>0.015242</td>
      <td>-0.018551</td>
      <td>0.993418</td>
      <td>0.544138</td>
      <td>0.334643</td>
      <td>0.043178</td>
      <td>-0.470508</td>
      <td>...</td>
      <td>0.089632</td>
      <td>-0.109253</td>
      <td>0.840507</td>
      <td>0.267713</td>
      <td>0.108626</td>
      <td>0.238311</td>
      <td>0.490237</td>
      <td>0.256592</td>
      <td>-0.532163</td>
      <td>-0.999858</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.120553</td>
      <td>0.438384</td>
      <td>0.405213</td>
      <td>-0.494499</td>
      <td>-0.018955</td>
      <td>0.993418</td>
      <td>-1.477693</td>
      <td>-1.006374</td>
      <td>1.717020</td>
      <td>0.015224</td>
      <td>...</td>
      <td>-1.239989</td>
      <td>-1.008619</td>
      <td>-0.684917</td>
      <td>0.764448</td>
      <td>-1.277708</td>
      <td>-1.276304</td>
      <td>-0.852018</td>
      <td>-0.681007</td>
      <td>-0.586839</td>
      <td>-0.922921</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.114797</td>
      <td>-0.525129</td>
      <td>0.405213</td>
      <td>0.015242</td>
      <td>-0.020208</td>
      <td>-1.190857</td>
      <td>2.419034</td>
      <td>1.005152</td>
      <td>-0.661598</td>
      <td>-0.956239</td>
      <td>...</td>
      <td>-0.120309</td>
      <td>-0.493431</td>
      <td>1.008443</td>
      <td>0.267713</td>
      <td>0.108626</td>
      <td>-0.064612</td>
      <td>1.009820</td>
      <td>0.769001</td>
      <td>-0.586839</td>
      <td>-0.961389</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.782144</td>
      <td>-0.284251</td>
      <td>0.612374</td>
      <td>-0.494499</td>
      <td>-0.019733</td>
      <td>0.993418</td>
      <td>-1.119171</td>
      <td>-1.006374</td>
      <td>1.628923</td>
      <td>1.229553</td>
      <td>...</td>
      <td>-0.750129</td>
      <td>-0.335865</td>
      <td>-0.111133</td>
      <td>0.196751</td>
      <td>-0.931125</td>
      <td>-0.973381</td>
      <td>-0.548928</td>
      <td>0.054899</td>
      <td>-0.040081</td>
      <td>1.269785</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 82 columns</p>
</div>

In [70]:
train_x,test_x,train_y,test_y = train_test_split(df_3,Y,train_size=0.7,test_size=0.3,random_state=2018)

In [71]:
print(train_x.shape)
print(train_y.shape)

(3327, 82)
(3327,)

In [72]:
#使用SVM模型进行训练
from sklearn.svm import SVC
clf = SVC()
clf.fit(train_x,train_y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [73]:
pred_y = clf.predict(test_x)
clf.score(test_x,test_y)

0.7792571829011913

D:\Program Files\anaconda\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)